*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}

html{
  scroll-behavior: smooth;
}

footer{
	width: 100%;
	height: 60px;
	color: white;
	display: flex;
	justify-content:space-around;
	margin: auto;
}

footer h4{
	text-align: center;
	font-size: 20px;
	padding-top: 17px;
}

.Quicklink{
	background: #f2f2f2;
	width: 100%;
	color: black;
	display: flex;
	justify-content:space-around;
	margin: auto;
}

.Quicklink a{
	color:black;
	line-height: 32px;
	font-size: 18px;
	text-decoration: none;
}

.Quicklink a:hover{
	text-decoration: underline;
}
.container h4{
	font-family:algerian;
	margin-top:-25%;
	text-align:center;
	color:white;
}
.container h1{
	font-family:algerian;
	text-align:center;
	color:white;
	font-size:80px;
}
section{
	display:flex;
	flex-wrap:wrap;
	background-size:100% 100%;
	background:white;
	padding:5%;
}
section div{
	width:50%;
	padding:5%;
}
.one h1{
	font-family:algerian;
}
@media (max-width:850px){
	section .one{
		width:100%;
		order:1;
		margin-top:-100%;
	}
	section .two{
		width:100%;
		order:2;
	}
	iframe{
		width:90%;
	}
}
article{
	background:white;
	display:flex;
	flex-wrap:wrap;
	background-size:100% 100%;
	padding:5%;
}
article div{
	width:50%;
}
.art1 img{
	height:600px;
	width:100%;
}
.art2 h1{
	padding:5%;
}
.art2 p{
	text-align:justify;
	padding:6%;
}
@media (max-width:850px){
	.art1 img{
		width:200%;
		margin-left:10%;
		order:1;
	}
	.art2{
		width:100%;
		margin-top:20%;
		order:2;
	}
}
aside{
	background-size:100% 100%;
	display:flex;
	flex-wrap:wrap;
	background:white;
	margin-top:-5%;
}
aside div{
	width:50%;
}
.as1 h1{
	font-family:algerian;
	padding:6%;
	margin-left:5%;
}
.as1 p{
	text-align:justify;
	padding:10%;
	margin-top:-10%;
	
}
.as2 img{
	height:500px;
	width:85%;
}
@media (max-width:850px){
	.as1 {
		width:100%;
		order:1;
	}
	.as2 {
		width:100%;
		order:2;
		margin-left:10%;
	}
}
.rooms{
	background-size:100% 100%;
	background:white;
	display:flex;
	flex-wrap:wrap;
	margin-top:-1.8%;
}
.rooms div{
	width:50%;
}
.roompic img{
	height:500px;
	width:91%;
	margin-left:10%;
}
.roomcontent h1{
	font-family:algerian;
	padding:5%;
	margin-left:8%;
}
.roomcontent p{
	text-align:justify;
	margin-left:13%;
	margin-top:4%;
	margin-right:15%;
}
@media (max-width:850px){
	.roompic img{
		width:155%;
		margin-left:18%;
		margin-top:15%;
		order:1;
	}
	.roomcontent {
		width:100%;
		order:2;
		margin-top:110%;
		margin-left:-47%;
	}
	.roomcontent h1{
		width:150%;
	}
	.roomcontent h6{
		width:150%;
	}
	.roomcontent p{
		width:150%;
	}
}
.terrace {
	background-size:100% 100%;
	background:white;
	display:flex;
	flex-wrap:wrap;
}
.terrace div{
	width:50%;
}
.terracepic img{
	height:500px;
	width:87%;
}
.terracecontent h1{
	font-family:algerian;
	padding:10%;
}
.terracecontent p{
	padding:5%;
	margin-left:5%;
	text-align:justify;
	margin-right:5%;
}
@media (max-width:850px){
	.terracecontent{
		width:100%;
		order:1;
		margin-left:5%;
	}
	.terracecontent h1{
		width:150%;
	}
	.terracecontent p{
		width:160%;
	}
	.terracepic {
		width:100%;
		order:2;
		margin-top:120%;
		margin-left:-45%;
	}
	.terracepic img{
		width:150%;
	}
}
.address {
	height:280px;
	width:100%;
	background:#DC143C;
}
.address h3{
	color:white;
	text-align:center;
	padding:1%;
}
hr{
	background:white;
	width:75%;
	height:1px;
	margin-left:11%;
}
.address h6{
	color:white;
	margin-top:-2.5%;
	margin-left:23%;
}
@media (max-width:850px){
	.address {
		width:75%;
		margin-top:20px;
		margin-left:10%;
	}
	hr{
		width:90%;
		margin-left:25px;
	}
	.address h3{
		text-align:center;
	}	
	.address #phone {
		margin-right:-50%;
	}
	.address #number {
		margin-left:35%;
	}
	.address #add {
		text-align:center;
		margin-right:20%;
		padding:40px;
	}
	.address #addr {
		text-align:Center;
		margin-right:20%;
	}
}
.end {
	width:100%;
	background:white;
	margin-top:-1%;
}
.btnn {
	height:80px;
	width:250px;
	margin-left:42%;
	margin-top:-5%;
	font-weight:bold;
	font-style:italic;
	box-shadow:2px 2px 2px 2px grey;
	background:#FF8A8A;
	border-radius:10px;
}
.btnn:hover{
	background:#DC143C;
	color:white;
	border:none;
}
.footer {
	height:120px;
	width:100%;
	background:#DC143C;
	margin-top:5%;
}
@media(max-width:700px){
	#b3{
		margin-left:-30%;
	}
	#a1{
		margin-left:15%;
	}
	.address{
		margin-top:10%;
	}
	.roomcontent h1{
		margin-top:10%;
	}
}
